@charset "utf-8";
/* CSS Document */

body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button{
	font-family: Arial;
	font-size: 18px;
	border: none;
	color: white;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 12px;
	margin: 3px;
}

button:disabled{
	background-color:dimgrey;
}

#stopwatch{
	font-size: 100px;
	font-weight: bold;
}

#start{
	background-color: darkolivegreen;
}

#stop{
	background-color: darkred;
}

#reset{
	background-color: #C08837;
}

#lap{
	background-color:#284B87;
}

#clearlap{
	background-color: #341E35;
}
